.infos-bar {
    padding: 16px 24px;
    background-color: purple;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;

            b {
                font-size: 18px;
                display: block;
            }
        }
    }
}