@use '../variables';

.infos-bar {
    padding: 20px 40px;
    border-radius: 5px;
    background-color: variables.$secondaryTextColor;
    color: variables.$textColor;
    display: flex;
    justify-content: space-between;

    &__infos {
        margin: 0 auto;
        display: flex;
        gap: 80px;

        &__item {
            color: variables.$textColor;
            font-size: 14px;
            cursor: pointer;
            

            b {
                color: variables.$textColor;
                font-size: 18px;
                display: block; 
            }
        }
    }

    @media (max-width: 640px) {
        display: block;
        
        &__infos {
            display: block;
            
            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}