@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
        background-color: variables.$secondaryTextColor;
        border-radius: 10px;
    }

    &__text {
        margin-top: 40px;
        padding-top: 20px;
        font-size: 40px;
        line-height: 56px;
        color: variables.$textColor;
        font-weight: 800;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0;
        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }

    .contador {
        color: #fff;
    }
}