@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'intro';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: variables.$textColor;
    list-style: none;
    font-family: Roboto, sans-serif;
}

.container__geral {
    background-image: linear-gradient(variables.$darkBlue, variables.$black);
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}